body {
  font-family: "Lato", sans-serif;
  margin: 0 50px 0 50px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 85px;
  text-align: center;
}

.card .card-content .card-title {
  line-height: 32px;
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: left;
}

#city-input:focus {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

/* button styling start */
.btn {
  background-color: #01579b;
}

.city-btn {
  margin: 5px;
  background-color: #01579b;
}

.city-btn:focus {
  background-color: #ffc107;
}
/* button styling end */

/* uv index classed styling start*/
.favorable {
  color: #2e7d32;
}

.moderate {
  color: #ffc107;
}

.severe {
  color: #bf360c;
}
/* uv index classed styling end*/

/* weather results styling start */
.city-name {
  font-size: 85px;
  margin: 0;
  text-align: right;
}

.date {
  margin: 0;
  text-align: right;
}

#weather-data-info {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin: 5px 0 0 0;
}

/* weather results styling end */

/* forcast results styling start */
#forecast-results {
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
}

.card .card-content {
  display: grid;
}
/* forcast results styling end */

/* media query for tablets and smaller */
@media screen and (max-width: 992px) {
  .city-name {
    font-size: 70px;
    margin: 0;
    text-align: right;
  }

  #weather-data-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 5px 0 0 0;
  }
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 600px) {
  .city-name {
    font-size: 70px;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .date {
    text-align: center;
  }

  #main-weather-icon {
    margin-left: 40%;
    margin-right: 40%;
  }

  #weather-data-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
  }
}
/* media query end */
